<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>

    <% # diffère du tuto, mais c'est pour tester%>
    <%= stylesheet_link_tag 'bootstrap-3.1.1/css/bootstrap', :media => 'btp' %>
  </head>
  <body>
	  <%= yield %>
  </body>
</html>
